<!doctype html>
<html lang="en" dir="ltr">

<head>
  <%- include("_partials/head.ejs") %>
</head>

<body>
  <%- include("_partials/navbar.ejs") %>

  <main>
    <div class="container">
      <%- yield %>
    </div>
  </main>

  <%- include("_partials/scripts.ejs") %>

  <%- include("_partials/footer.ejs") %>
</body>

</html>
